

 body{
  background-image: url("BG.jpg");

 }
 .email{
  color: black;
 }
 intro.int2{
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 360px;
  width: 540px;
 }
 .nav-mobile:hover{
  background-color: white;
 }

